[Unit]
Description=HBNB Gunicorn Service to handle multiple user requests to Nginx
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/usr/bin/env HBNB_MYSQL_USER=hbnb_dev HBNB_MYSQL_PWD=hbnb_dev_pwd HBNB_MYSQL_HOST=localhost HBNB_MYSQL_DB=hbnb_dev_db HBNB_TYPE_STORAGE=db gunicorn -w 3 -b 0.0.0.0:5003 web_dynamic.2-hbnb:app
ExecReload=/usr/bin/env HBNB_MYSQL_USER=hbnb_dev HBNB_MYSQL_PWD=hbnb_dev_pwd HBNB_MYSQL_HOST=localhost HBNB_MYSQL_DB=hbnb_dev_db HBNB_TYPE_STORAGE=db gunicorn -w 3 -b 0.0.0.0:5003 web_dynamic.2-hbnb:app
PIDFile=/tmp/gunicorn.pid
Restart=on-failure
Environment="AIRBNB_ERROR_LOG=/tmp/airbnb-error.log"
Environment="AIRBNB_ACCESS_LOG=/tmp/airbnb-access.log"
StandardError=append:/tmp/airbnb-error.log
StandardOutput=append:/tmp/airbnb-access.log

[Install]
WantedBy=multi-user.target
